/* @font-face {
    font-family: Jameel Noori Nastaleeq;
    src: url('Jameel Noori Nastaleeq Regular.ttf');
  } */
@font-face{
    font-family: Jameel noori nastaleeq;
    src: url('Jameel Noori Nastaleeq Regular.ttf');

}
body{
    font-family:jameel noori nastalee;
}

Ù­{
    font-family: Jameel Noori Nastaleeq;
}
/* 
#{
    margin: 2px;
    padding: 2px;
    font-family:Jameel Noori Nastaleeq;
    
} */
 .header{
margin-bottom: 35px;
    min-height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(4, 4, 18, 0.7),rgba(4,9,30,0.7)),url(4.jpg);
    background-position: center;
    background-size: cover; 

    position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{ 
     width: 150px; 
    margin-left: 10px; 
} 
.nav-links{
    flex: 1;
    text-align: right;
    /* width: 30px; */
    /* background-color: #fff; */
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 5%;
    translate: (-50%,-50%);
    text-align: center;
    font-family: jameel noori nastaleeq;
    
}
.text-box h1{
    font-size: 70px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: #fff;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    border-radius: 5px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background-color: #fff3f3;
    transition: 1s;
}
    nav.fa{
        display: none;
    }
     nav .fa{
        display: none;
     }
    @media(max-width:700px) {
    .text-box h1{
        font-size: 50px;
    }
    .nav-links ul li{
        display: block;
    }
    .text-box p{
        font-size: 20px;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
    
/*------course------*/

.course{
    width: 90%;
    margin-top: px;
    text-align: center;
    padding: 2%;
}
h1{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
p{
    color: #777;;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
    /* text-shadow: 0 0 3px #571c1c, 0 0 5px #1e1eb4; */
}
h5{
    font-size: 10px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.span{
    color: rgb(15, 15, 218);
}
.row{
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
padding-bottom: 5px;
}
.course-col{
    flex-basis: 32%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 5px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px o;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:600px){
    .row{
        flex-direction: column;
    }
}
   
/*------- facilities -------*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 0%;
    text-align: right;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: px;
    margin-bottom: 15px;
    text-align: right;
}

/*---------- footer--------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}

/*--------------introduction---------------*/

.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background3.jpg);
    background-position: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background-size: cover;
    text-align: center;
    color:#fff;
}
.introduction{
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.introduction col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.introduction col img{
    width: 30%;
}
.introduction col h1{
    padding-bottom: 10px;
}
.introduction col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}

/*----------contect-----------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contect-us{
    width: 80%;
    margin: auto;
}
.contect-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contect-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contect-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contect-col div p{
    padding: 0;
}
.contect-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contect-col input, .contect-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.h1{
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: right;
    padding-right: 20px;
}

.p1{
    color: #777;;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
    text-align: right;
    /* text-shadow: 0 0 3px #571c1c, 0 0 5px #1e1eb4; */
}

.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
body{
    display: grid;
    place-items: center;
    /* background-color: antiquewhite; */
}


.mySlides{
    margin-left: 15px;
    width: 1330px;
    height: 450px;
}





*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

/* navbar */
.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}
.navbar{
	background-color: rgba(255, 179, 179, 0.781);
	color: #fff !important;
	height: 18%;
}

.nav-item a{
	color: #fff !important;
	font-weight: bold;
	font-size: 20px;
}

.nav-item a:hover{
	color: blue !important;
}

.nav-item {
	padding-left: 10px;
}
.navbar-brand{
	color: #fff !important;
	padding-left: 10px;
}
#navbar button{
	color: #fff !important;
}

/* banner */

#banner-container{
	background-color: #fff3f3;
	color: #fff !important;
	padding-top: 80px;
	padding-bottom: 80px;
}
#banner-row img{
	max-width: 100%;
	height: auto;
	display: block;
	padding-left: 30px;
	/* margin-top: 20%; */
	margin-right: 10%;
}

#banner-row a{
	background-color: #fff !important;
	color: #000 !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px; 
}

#banner-row h3,p{
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}
#banner-col{
	padding-left: 20px;

}
/* service */
#service{
	padding-top: 20px;
	padding-bottom: 20px;
}

#service h1{
	padding-bottom: 70px;

}

/* about us */

#about{
	padding-top: 80px;
	padding-bottom: 80px;
}
#about h1{
	padding-bottom: 70px;
}
#about-col ul{
	padding-top: 50px;
	padding-left: 50px;
    
}
#about-col ul li{
	padding-top: 15px;
}

/* products */
#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 70px;
}
#product-col2 ul{
	padding-top: 90px;
}

#product-col2 ul li{
	padding-top: 15px;
}
/* footer */
.mb-3{
	padding-top: 10px;
}

@media only screen and (max-width:960px)
{
	.navbar-brand{
		padding-left:0;
	}
}
@media only screen and (max-width:760px)
{
	#banner-row img{
		padding-top:20px;
	}
	.social-col{
		width: 100%;
	}
}



.grid{display: grid;
    place-items: center;
    background-color: #fff3f3;
    width: 50%;
    margin-top: 10px;
    height:490px;
    border-radius: 10px;

}



html,a,h1,body,p,h2,h3{
    font-family: jameel noori nastaleeq;
}


.dive{
    display: grid;
    place-items: center;
}











































































